<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>StarChat</title>
	<meta name="keywords" content="星穹铁道对话生成器" />
	<meta name="render" content="webkit">
	<link rel="icon" href="favicon.png">
	<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
	<meta content="telephone=no, address=no" name="format-detection">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<script type="text/javascript">
		var _path = { images: '' }
		var page = { data: {} }
	</script>
	<link rel="stylesheet" href="static/app/css/zui.min.css">
	<link rel="stylesheet" href="static/app/css/app.css">
	<link rel="stylesheet" href="static/app/css/wallet.css">
	<link rel="stylesheet" href="static/app/font-awesome-4.7.0/css/font-awesome.min.css"/>
	<script type="text/javascript" src="static/app/js/common.bundle.js"></script>
	<script type="text/javascript" src="static/app/js/chat.bundle.js"></script>
	<script type="text/javascript" src="static/app/js/html2canvas.js"></script>
	<script type="text/javascript" src="static/app/js/load.js"></script>
</head>
<body>
	<div id="vueApp" class="wrapper">
		<div id="fullscreen" class="fullscreen" style="display: none;">
		    <h1>加载中...</h1>
		</div>
		<div class="container-fluid page-content"  @click="closeDetail">
			<div id="pageHeader">StarChat聊天生成器</div>
			<div class="homecontain">
				<div class="tab-col">
					<i class="fa fa-cog fa-3x" data-tab href="#tabContent1" title="设置"></i>
					<i class="fa fa-trash fa-3x" @click="cleanDialogs" title="清空当前对话"></i>
					<i class="fa fa-camera fa-2x" @click="saveImage" title="长截屏"></i>
					<i class="fa fa-group fa-2x" data-tab href="#tabContent2" title="人物选择"></i>
				</div>
				<div class="tab">
					<div class="tab-content">
						<div class="tab-pane" id="tabContent1">
							<!-- 设置 -->
							<div class="view-setting">
								
								<div class="view-set-item">
									<span>副标题：</span>
									<input type="text" name="phone-msg-count" class="form-control" v-model="setting.message">
								</div>
								<div class="view-set-item">
									<span>聊天标题：</span>
									<input type="text" class="form-control" v-model="setting.title">
								</div>
								
								<button @click="disDelet" class="btn btn-danger">开启快速删除</button>
								<button @click="reload" class="btn btn-danger">清理缓存</button>
								<div class="aboutme">
									<h2>历史版本</h2>
									<p>v1.0 (2023-05-21)</p>
									<p>发布首次版本</p>
									<h2>署名和版权</h2>
									<p>这个项目的灵感来自Yuzutalk以及closuretalk</p>
									<p>项目改自https://github.com/JokerXins/wxsc的微信对话生成器</p>
									<p>角色版权属于mihoyo所有</p>
								</div>
							</div>
						</div>
						<!-- 对话设置 -->
						<div class="tab-pane active" id="tabContent2">
							<div class="dialog-user" id="dialog-user">
								<div class="dialog-user-title">编辑和选择用户</div>
								<div class="dialog-user-items">

									<div v-for="(user, index) in users" class="dialog-user-item">
										<div class="dialog-user-face">
											<a class="dialog-user-face-a" href="javascript:;">
												<input @change="setUserImage($event, index)" type="file"
													placeholder="点击更换头像">
												<i :style="'background-image: url(' + user.image + ')'"></i>
											</a>
											<input type="text"  v-model="user.name" disabled/>
											<a @click="selectUser(index)"
												:class="['dialog-user-select', {'dialog-user-selected':user.selected}]">选择用户</a>
											<a v-if="!user.is_me" @click="delUser(index)" class="dialog-user-delete"
												title="删除用户">删除</a>
												<a @click="DetailModify(index)" @click.stop class="dialog-user-delete" style="margin-top: 10%;"
													title="修改详情">详情</a>
										</div>
										
										 <div v-if="user.isDetailShow" :key="index" class="detailmodify" style="background-color: #f1f1f1;">
											 	<div class="phone-nav-more" style="background-size: 30%;height: 30px;margin-left: 88%;" @click="closeDetail2()">退出</div>
										     <input type="text" class="edit-phone-dialog-text2" v-model="user.name">
										 </div>
									</div>
									
									 
									<div class="dialog-user-item">
										<a @click="addUser" class="dialog-user-item-add" href="javascript:;"
											title="添加用户">+</a>
									</div>
								</div>


							</div>
						</div>
					</div>
					<!-- tab下方-->
					<div class="tabUnder"> 
					
						<div class="dialog-user-content-title">发送人：{{getSender()}} <i style="float: right; padding-right: 20%;">当前聊天位置:{{Isisme()}}</i></div>
						<div style="display: flex;width: 500px;">
						<select v-model="setting.notice_type" class="form-control"
							style="width: 110px;padding: 0;">
							<option value="Isdelete">朋友验证信息</option>
							<option value="Offline">下线信息</option>
							<option value="Online">上线信息</option>
							<option value="Custom">自定义信息</option>
						</select>
						<input class="form-control" v-if="setting.notice_type === 'Custom'" style="min-height: 32px;width: 179px;" v-model="setting.dialog_notice" placeholder="输入自定义信息"/>
						<input v-if="setting.notice_type !== 'Custom'" style="min-height: 32px;" placeholder="" disabled/>
							<button @click="addNoticeDialog" class="btn btn-primary" style="width: 90px;padding: 0;">添加系统提示</button>
						</div>
						
						<label>
						  <input type="checkbox" v-model="setting.dialog_isme" value="1">启用右侧输入
						</label>
						
					</div>
				</div>
				<!-- phone -->
				<div id="phone-wrap1" class="phone-wrap1">
					<div class="phone-content">
						<div id="phone" class="phone1" style="">
							<!-- 编辑标题框-->
							<div id="edit-title" class="edit-dialog" style=" display: none; text-align: center;">
								<div class="dialog-header">
									<span class="dialog-edit-title">聊天信息</span>
								</div>
								<div class="dialog-body" style="height: 650px;    padding-top: 8%;">
									<input type="text" style="min-height: 32px;font-size: 60px;margin-left: 10%;" placeholder="标题"
									v-model="setting.title" class="edit-phone-dialog-text2">
									<input type="text" style="min-height: 32px;font-size: 60px;margin-left: 10%;" placeholder="副标题"
									v-model="setting.message" class="edit-phone-dialog-text2">
								</div>
								<div class="confirmButtonDiv">
								<button class="confirmButton" style="width: 30%;height: 20%; font-size: 200%;margin-right:100px;" @click="closeEditDiv('#edit-title')">确定</button>
								<button class="confirmButton" style="width: 30%;height: 20%; font-size: 200%;" @click="closeEditDiv('#edit-title')">取消</button>
								<a id="dialogDelete(index)" style="font-size: 40px;color: wheat;">删除</a>
								</div>
							</div>
							
							<div class="phone-top">
								<div class="phone-nav">
									<div class="phone-nav-left" @click="openTitleEdit()" title="编辑标题">
										<span class="phone-top-title">
											{{setting.title}}
										</span>
										<span class="phone-top-message">
											{{setting.message}}
										</span>
									</div>
									<div class="phone-nav-center">
									</div>
									<div class="phone-nav-right">
										<div class="phone-nav-more">退出</div>
									</div>
								</div>
							</div>

							<div class="phone-bg">
								<img @load="onBackgroundLoad($event)" :src="setting.background" />
							</div>

							<div class="phone-water"></div>

							<div id="phone-body" class="phone-body">
								<div class="wechat-content" id="wechat-content">
									
									<div id="edit-dialog" class="edit-dialog" style=" display: none; text-align: center;">
										<div class="dialog-header">
											<span class="dialog-edit-title">编辑框</span>
										</div>
										<div class="dialog-body">
										<input  v-model="setting.edit_dialog_content" style="min-height: 32px;font-size: 60px;" placeholder="编辑内容"
											class="edit-phone-dialog-text"/>
										</div>
										<div class="confirmButtonDiv">
										<button class="confirmButton" style="width: 30%;height: 20%; font-size: 200%;margin-right:100px;" @click="confirmEdit('#edit-dialog')">确定</button>
										<button class="confirmButton" style="width: 30%;height: 20%; font-size: 200%;" @click="closeEditDiv('#edit-dialog')">取消</button>
										<a id="dialogDelete" style="font-size: 40px;color: wheat;">删除</a>
										</div>
									</div>
									
									<template v-for="(dialog, index) in dialogs">
										<div :class="['wechat-dialog', {'wechat-dialog-right':dialog.is_me}]"
											 :style="dialog.type === 'notice' ? { 'margin-bottom': '5em' } : {}">
											<div v-if="dialog.type != 'notice'" class="wechat-dialog-face">
												<img :src="getUserById(dialog.user_id).image" />
											</div>

											<template v-if="dialog.type == 'text'">
												<div class="wechat-dialog-name">{{dialog.name}}</div>
												<div class="wechat-dialog-text">{{dialog.content}}</div>
											</template>

											<template v-if="dialog.type == 'image'">
												<div class="wechat-dialog-name">{{dialog.name}}</div>
												<div
													:class="['wechat-dialog-text', 'wechat-dialog-image', {'wechat-dialog-image-noborder':setting.background != ''}]"
													style="background-color: transparent;border:none">
													<img :src="dialog.image">
												</div>	
											</template>

											<template v-if="dialog.type == 'notice'">
												<div class="wechat-dialog-notice" style="display: flex;align-items: center;">
													<span style="width: 2.2em;height: 2em; background-image: url(static/app/images/noticIcon.png);background-size: cover;
													margin-right: 1em;"></span>
													<span
														:class="[{'wechat-dialog-notice-has-bg':setting.background != ''},{'wechat-dialog-notice-system':dialog.is_system}]"
														v-html="dialog.content" style="max-width: 35em;font-size: 1.03em;"></span>
												</div>
											</template>

											<template v-if="dialog.type == 'transfer' || dialog.type == 'redpacket'">
												<div
													:class="['wechat-dialog-text', 'wechat-dialog-trans', {'wechat-dialog-trans-get':dialog.is_get}]">
													<div
														:class="['wechat-dialog-trans-content', {'wechat-dialog-redp-content':dialog.type == 'redpacket'}]">
														<i></i>
														<div>
															<span
																v-if="dialog.type == 'transfer'">¥{{moneyFormat(dialog.money,
																2, '', false)}}</span>
															<font v-if="dialog.type == 'transfer'">{{dialog.remark}}
															</font>
															<span
																v-if="dialog.type == 'redpacket'">{{dialog.remark}}</span>
															<font v-if="dialog.type == 'redpacket' && dialog.is_get">
																已领取</font>
														</div>
													</div>
													<div class="wechat-dialog-trans-bottom">
														<span v-if="dialog.type == 'transfer'">微信转账</span>
														<span v-if="dialog.type == 'redpacket'">微信红包</span>
													</div>
												</div>
											</template>

											<a @click="editDialog(index)" class="a-wechat-dialog-menu"
												href="javascript:;" title="编辑内容"><i class="fa fa-edit fa-2x"></i></a>
											<a @click="quickdeleteDialog(index)" class="a-wechat-dialog-trash" style="display: none;"
												href="javascript:;" title="删除"><i class="fa fa-trash-o fa-2x"></i></a>
											
											<div v-if="!dialog.is_get && dialog.type == 'redpacket'"
												class="a-wechat-dialog-menu">
												<a @click="redpacketGet(index)">领取</a>
											</div>
											<div v-if="!dialog.is_get && dialog.type == 'transfer'"
												class="a-wechat-dialog-menu">
												<a @click="transferGet(index)">领取</a>
											</div>
										</div>
									</template>

								</div>
							</div>

						</div>
						<div class="putContain">
							<textarea class="typeinput" v-model="setting.dialog_content" placeholder="点此输入文字"></textarea>
							<div class="putContain-right">
								
								<button class="typeinputBT" @click="addTextDialog">发送</button>
								<button class="btn btn-send-image" style="color: unset;background-color: unset;outline: unset;border: unset;" title="发送图片">
									<input @change="addImageDialog($event)" type="file">
								<i class="fa fa-picture-o emoji" style="font-size: 6em;" title="发送图片"></i>
								</button>
								<i class="fa fa-smile-o emoji" @click="addEmojiDialog"  @click.stop style="font-size: 7em;cursor:pointer;" title="发送emoji"></i>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</body>

</html>